@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/*Body FIXO*/
body{display: flex;
    flex-direction: column;
    min-height: 100vh;

}
main{
    flex:1 1 0;
    border: 0;
    background: linear-gradient(to right, rgb(255, 101, 224),rgb(252, 148, 221));
}